schema/NRCI/NRCIELC01Elite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
   targetNamespace="http://www.lmonte.com/besm/NRCIELC01Elite"
   xmlns="http://www.lmonte.com/besm/NRCIELC01Elite"
   xmlns:d="http://www.lmonte.com/besm/d"
   xmlns:bld="http://www.lmonte.com/besm/bld"
   xmlns:env="http://www.lmonte.com/besm/env"
   xmlns:lit="http://www.lmonte.com/besm/lit"
   xmlns:hvac="http://www.lmonte.com/besm/hvac"
   xmlns:comp="http://www.lmonte.com/besm/comp"
   xmlns:com="http://www.lmonte.com/besm/com"
   xmlns:dtyp="http://www.lmonte.com/besm/dtyp"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:altova="http://www.altova.com/xml-schema-extensions"
   elementFormDefault="qualified" attributeFormDefault="unqualified" version="2022.0.000">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/NrPresCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/NrPresBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/NrPresEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/NrPresLighting.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/NrPresHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/NrPresCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTagNR" fixed="NRCIELC01E"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentTypeNR" fixed="CertificateInstallationNR"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleNR" fixed="Electrical Power Distribution"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderNRCI" />
                     <xsd:element ref="nRCIELC01Elite" />
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor" maxOccurs="unbounded" />
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonNRCI" maxOccurs="unbounded" />
                     <xsd:element name="Footer" type="comp:FooterNRCC" />
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary" minOccurs="0"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220901"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTagNR" fixed="NRCIELC01E"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="NRCIELC01Elite">
      <xsd:annotation>
         <xsd:documentation>Electrical Power Distribution</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">[d:b] A. GENERAL INFORMATION[/d:b]</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i]This Certificate of Installation documents the installation of electrical system features, materials, components, and manufactured devices required to demonstrate compliance with Title 24, Part 6 per  [d:t24refnolink/]10-103(a)3 for nonresidential, hotel/motel and high-rise residential occupancies.[/d:i]</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This note should be placed after the header and before section A</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A01_ProjectCity" type="comp:ProjectCity" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Project Location (city)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_ProjectZipcode" type="comp:ProjectZipcode" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Zip Code</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03_PermitSetDate" type="comp:PermitSetDate" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of Permit Set used for construction</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_AuthorityHavingJurisdiction" type="comp:AuthorityHavingJurisdiction" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Authority Having Jurisdiction</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A05_PermitNumber" type="comp:PermitNumber" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Building Permit #</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A06_AsBuiltSetDate" type="comp:AsBuiltSetDate" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of As-built Set</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A07_PermitSetName" type="comp:PermitSetName"  minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">NOT REPORTED IN PDF</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Name of Permit Set used for construction</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This data is not currently required but may be needed in the future</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A08_AsBuiltSetName" type="comp:AsBuiltSetName"  minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">NOT REPORTED IN PDF</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Name of As-built Set</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This data is not currently required but may be needed in the future</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">[d:b] B. INSTALLER SCOPE[/d:b]</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i]This table indicates the construction systems and materials documented on this Certificate of Installation. [/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B01a_ProjectHasServiceMeter" type="comp:ProjectHasServiceMeter" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Electrical Service Meter(s)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B01b_ProjectHasLoadSeparation" type="comp:ProjectHasLoadSeparation" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Separation of load downstream of meter(s)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B01c_ProjectHasReceptacleControl" type="comp:ProjectHasReceptacleControl" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">120V Receptacle (Outlet) Control(s)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B01d_ProjectHasVoltDrop" type="comp:ProjectHasVoltDrop" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Voltage Drop to feeders</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B01e_ProjectHasVoltDrop" type="comp:ProjectHasVoltDrop" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Voltage Drop to branch circuits</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">[d:b]C. COMPLIANCE RESULTS[/d:b]</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i]This table indicates whether the as-built conditions documented in this form are equal or better than what was documented on the permitted Certificate of Compliance.  If the installation is not equal or better, Section 10-103(a)2B requires the Certificate of Compliance form to be revised accordingly to demonstrate compliance.[/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C01_ComplianceResultNRCI" type="comp:ComplianceResultNRCI" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated result:  
If in any required tables or subsections in Section F  ComplianceResultNRCI ==  TableIncomplete
result = FormNotComplete
Else 
result = MayComplyNoCCData
 End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C01Message_ComplianceResultMessageNRCI" type="comp:ComplianceResultMessageNRCI" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated result:  
If ComplianceResultNRCI ==  MayComplyNoCCData
result = MayComplyNoCCDataText</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">[d:b]D. EXCEPTIONAL CONDITIONS[/d:b]</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i]This table is auto-filled with uneditable comments because of selections made or data entered in tables throughout the form.[/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D01_ExceptionalConditionMessageCCELCE" type="comp:ExceptionalConditionMessageCCELCE"  minOccurs="0" maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Exceptional Messages</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Auto-filled with any system generated messages that explain exceptional conditions encountered in the completed compliance document</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">[d:b]E. ADDITIONAL REMARKS[/d:b]</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required if there are  comments from the permit applicant to the Authority Having Jurisdiction</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, do not display anything for this section</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i]This table includes remarks made by the permit applicant to the Authority Having Jurisdiction.[/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E01_CommentsToPermitAuthority" type="comp:CommentsToPermitAuthority"  minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">[d:b]F. INSTALLATION DETAILS[/d:b]</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="F_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i]The following tables indicate performance requirements as documented on the permitted Certificate of Compliance (NRCC) for all systems and components included in Table B. Installer Scope.  Also included are the as-built conditions documented by the installer/documentation author. [/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F_RowLabelTopCell" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Per C of C</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This is the text displayed at the left end of a row in the top cell for all tables in Section F.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F_RowLabelBottomCell" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">As-built Conditions</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This is the text displayed at the left end of a row in the bottom cell for all tables in Section F</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableMeter" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">[d:b]Service Electrical Metering[/d:b]</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This table is required and displayed If B01a_ProjectHasServiceMeter == true</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="Meter01cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Electrical Service Designation/Description</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Meter01_ElectricalServiceName" type="comp:ElectricalServiceName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Electrical Service Designation/Description</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Meter02cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Rating (kVA)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Meter02_ElectricalServiceRating" type="comp:ElectricalServiceRating" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Rating (kVA)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Meter03to06Subheading" minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Required Metering Capabilities</xsd:documentation>
                                          <xsd:documentation source="AdditionalRequirements">Required Metering Capabilities</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Meter03cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Instantaneous Demand (kW)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Meter03_MeteringCapabilitiesAsBuilt" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Instantaneous Demand (kW)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from dropdown list ProvidedAtService, ProvidedAtPanel and ProvidedAtFeeder, UtilityProvidedNA and ElectCode517NA</xsd:documentation>
                                          <xsd:appinfo source="displayterm">
                                             <dtyp:displayterm value="ProvidedAtService">Capability provided at service(s)[d:sup]1[/d:sup]</dtyp:displayterm>
                                             <dtyp:displayterm value="ProvidedAtFeeder">Capability provided at feeder(s)[d:sup]2[/d:sup]</dtyp:displayterm>
                                          </xsd:appinfo>
                                          
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:MeteringCapabilitiesAsBuilt">
                                             <xsd:enumeration value="ElectCode517NA"/>
                                             <xsd:enumeration value="ProvidedAtFeeder"/>
                                             <xsd:enumeration value="ProvidedAtPanel"/>
                                             <xsd:enumeration value="ProvidedAtService"/>
                                             <xsd:enumeration value="UtilityProvidedNA"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Meter04cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Historical Peak Demand (kW)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Meter04_MeteringCapabilitiesAsBuilt" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Historical Peak Demand (kW)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from dropdown list 
ProvidedAtService, ProvidedAtPanel and ProvidedAtFeeder,  UtilityProvidedNA, InstalledLTE250NA and ElectCode517NA</xsd:documentation>
                                          <xsd:appinfo source="displayterm">
                                             <dtyp:displayterm value="ProvidedAtService">Capability provided at service(s)[d:sup]1[/d:sup]</dtyp:displayterm>
                                             <dtyp:displayterm value="ProvidedAtFeeder">Capability provided at feeder(s)[d:sup]2[/d:sup]</dtyp:displayterm>
                                          </xsd:appinfo>
                                          
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:MeteringCapabilitiesAsBuilt">
                                             <xsd:enumeration value="ElectCode517NA"/>
                                             <xsd:enumeration value="InstalledLTE250NA"/>
                                             <xsd:enumeration value="ProvidedAtFeeder"/>
                                             <xsd:enumeration value="ProvidedAtPanel"/>
                                             <xsd:enumeration value="ProvidedAtService"/>
                                             <xsd:enumeration value="UtilityProvidedNA"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Meter05cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Tracking kWh for user-defined period</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Meter05_MeteringCapabilitiesAsBuilt" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Tracking kWh for user-defined period</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from dropdown list: ProvidedAtService, ProvidedAtPanel and ProvidedAtFeeder, UtilityProvidedNA and ElectCode517NA</xsd:documentation>
                                          <xsd:appinfo source="displayterm">
                                             <dtyp:displayterm value="ProvidedAtService">Capability provided at service(s)[d:sup]1[/d:sup]</dtyp:displayterm>
                                             <dtyp:displayterm value="ProvidedAtFeeder">Capability provided at feeder(s)[d:sup]2[/d:sup]</dtyp:displayterm>
                                          </xsd:appinfo>
                                          
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:MeteringCapabilitiesAsBuilt">
                                             <xsd:enumeration value="ElectCode517NA"/>
                                             <xsd:enumeration value="ProvidedAtFeeder"/>
                                             <xsd:enumeration value="ProvidedAtPanel"/>
                                             <xsd:enumeration value="ProvidedAtService"/>
                                             <xsd:enumeration value="UtilityProvidedNA"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Meter06cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">kWh per rate period</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Meter06_MeteringCapabilitiesAsBuilt" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">kWh per rate period</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from dropdown list
ProvidedAtService, ProvidedAtPanel and ProvidedAtFeeder,  UtilityProvidedNA, InstalledLTE1000NA and ElectCode517NA</xsd:documentation>
                                          <xsd:appinfo source="displayterm">
                                             <dtyp:displayterm value="ProvidedAtService">Capability provided at service(s)[d:sup]1[/d:sup]</dtyp:displayterm>
                                             <dtyp:displayterm value="ProvidedAtFeeder">Capability provided at feeder(s)[d:sup]2[/d:sup]</dtyp:displayterm>
                                          </xsd:appinfo>
                                          
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:MeteringCapabilitiesAsBuilt">
                                             <xsd:enumeration value="ElectCode517NA"/>
                                             <xsd:enumeration value="InstalledLTE1000NA"/>
                                             <xsd:enumeration value="ProvidedAtFeeder"/>
                                             <xsd:enumeration value="ProvidedAtPanel"/>
                                             <xsd:enumeration value="ProvidedAtService"/>
                                             <xsd:enumeration value="UtilityProvidedNA"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Meter07_ComplianceResultNRCI" type="comp:ComplianceResultNRCI"  minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Metering Compliance</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">If any user input field is blank
result = TableIncomplete 
Else
result = MayNotComply</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="MeterEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i][d:sup]1[/d:sup] FOOTNOTES: Service is defined as "the conductors and equipment for delivering electric energy from the serving utility to the wiring system of the premise served" in [d:t24refnolink/]100.1 of the Energy Standards.[/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="MeterEndNote2" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i][d:sup]2[/d:sup] Feeder is defined as "all circuit conductors between the service equipment, the source of a separately derived system, or other power supply source and the final branch-circuit overcurrent device," in Article 100 of the California Electrical Code.[/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Circuits" minOccurs="0" maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">[d:b]Separation of Electrical Circuits for Energy Monitoring[/d:b]</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This subsection is required and displayed If B01b_ProjectHasLoadSeparation == true</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Circuits00cc_NotApplicableMessage" >
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Electrical Service Designation/Description</xsd:documentation>
                                 <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="comp:NotApplicableMessage">
                                    <xsd:enumeration value="BlankGrayedOut"/>
                                    <xsd:enumeration value="NoDataGrayedOut"/>
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element name="Circuits00_ElectricalServiceName" type="comp:ElectricalServiceName" >
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Electrical Service Designation/Description</xsd:documentation>
                                 <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element name="TableCircuits" >
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"></xsd:documentation>
                              </xsd:annotation>
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="Circuits01cc_NotApplicableMessage" >
                                                <xsd:annotation>
                                                   <xsd:documentation source="FieldText">Load Type[d:sup]1[/d:sup]</xsd:documentation>
                                                   <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                                </xsd:annotation>
                                                <xsd:simpleType>
                                                   <xsd:restriction base="comp:NotApplicableMessage">
                                                      <xsd:enumeration value="BlankGrayedOut"/>
                                                      <xsd:enumeration value="NoDataGrayedOut"/>
                                                   </xsd:restriction>
                                                </xsd:simpleType>
                                             </xsd:element>
                                             <xsd:element name="Circuits01_ElectricalLoadType" type="com:ElectricalLoadType" >
                                                <xsd:annotation>
                                                   <xsd:documentation source="FieldText">Load Type[d:sup]1[/d:sup]</xsd:documentation>
                                                   <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                                                </xsd:annotation>
                                             </xsd:element>
                                             <xsd:element name="Circuits02cc_NotApplicableMessage" >
                                                <xsd:annotation>
                                                   <xsd:documentation source="FieldText">Minimum Required Separation of Load</xsd:documentation>
                                                   <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                                </xsd:annotation>
                                                <xsd:simpleType>
                                                   <xsd:restriction base="comp:NotApplicableMessage">
                                                      <xsd:enumeration value="BlankGrayedOut"/>
                                                      <xsd:enumeration value="NoDataGrayedOut"/>
                                                   </xsd:restriction>
                                                </xsd:simpleType>
                                             </xsd:element>
                                             <xsd:element name="Circuits02_ElectricalLoadSeparationRequirement" type="comp:ElectricalLoadSeparationRequirement" >
                                                <xsd:annotation>
                                                   <xsd:documentation source="FieldText">Minimum Required Separation of Load</xsd:documentation>
                                                   <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                                                </xsd:annotation>
                                             </xsd:element>
                                             <xsd:element name="Circuits03cc_NotApplicableMessage" >
                                                <xsd:annotation>
                                                   <xsd:documentation source="FieldText">Separation Method[d:sup]2[/d:sup]</xsd:documentation>
                                                   <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                                </xsd:annotation>
                                                <xsd:simpleType>
                                                   <xsd:restriction base="comp:NotApplicableMessage">
                                                      <xsd:enumeration value="BlankGrayedOut"/>
                                                      <xsd:enumeration value="NoDataGrayedOut"/>
                                                   </xsd:restriction>
                                                </xsd:simpleType>
                                             </xsd:element>
                                             <xsd:choice maxOccurs="1">
                                                <xsd:element name="Circuits03_ElectricalLoadComplianceMethod" type="comp:ElectricalLoadComplianceMethod" >
                                                   <xsd:annotation>
                                                      <xsd:documentation source="FieldText">Separation Method[d:sup]2[/d:sup]</xsd:documentation>
                                                      <xsd:documentation source="CalculationsAndRules">User selects from dropdown list</xsd:documentation>
                                                   </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="Circuits03_NotApplicableExplanation" type="comp:NotApplicableExplanation" >
                                                   <xsd:annotation>
                                                      <xsd:documentation source="FieldText">NO DATA Separation Method[d:sup]2[/d:sup]</xsd:documentation>
                                                      <xsd:documentation source="CalculationsAndRules">If not required for load type user inputs short explanation why no data</xsd:documentation>
                                                   </xsd:annotation>
                                                </xsd:element>
                                             </xsd:choice>
                                             <xsd:element name="Circuits04_ComplianceResultNRCI" type="comp:ComplianceResultNRCI"  minOccurs="0">
                                                <xsd:annotation>
                                                   <xsd:documentation source="FieldText">Compliance</xsd:documentation>
                                                   <xsd:documentation source="CalculationsAndRules">If any user input field is blank
result = TableIncomplete  
Else  
result =  MaynotComply</xsd:documentation>
                                                </xsd:annotation>
                                             </xsd:element>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CircuitsEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i][d:sup]1[/d:sup]  FOOTNOTES: For each separate load type, up to 10% of the connected load may be of any type.[/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="CircuitsEndNote2" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i][d:sup]2[/d:sup]  See Chapter 8 of the Nonresidential Compliance Manual for more detail on Compliance Methods: https://www.energy.ca.gov/media/3881 [/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableVoltageDrop" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">[d:b]Feeder and Branch Circuit Conductor Voltage Drop [/d:b]</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This table is required and displayed If B01d_ProjectHasVoltDrop == true Or B01e_ProjectHasVoltDrop == true</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="Volt01cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Electrical Service Designation/Description</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Volt01_ElectricalServiceName" type="comp:ElectricalServiceName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Electrical Service Designation/Description</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Volt02cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Combined Voltage Drop on Installed Feeder/Branch Circuit Conductors Compliance Method</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Volt02_CircuitVoltageDropCompliance" type="comp:CircuitVoltageDropCompliance" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Combined Voltage Drop on Installed Feeder/Branch Circuit Conductors Compliance Method</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from list: VoltageDropLT5Percent, VoltageDropException</xsd:documentation>
                                          <xsd:appinfo source="displayterm">
                                             <dtyp:displayterm value="VoltageDropException">Voltage drop [d:gt/] 5% permitted by CA Electrical Code 647.4, 695.6, 695.7
</dtyp:displayterm>
                                          </xsd:appinfo>
                                          
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Volt03cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Voltage Drop Calculations</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Volt03_CircuitVoltageDropCalculations" type="comp:CircuitVoltageDropCalculations" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Voltage Drop Calculations</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from list:</xsd:documentation>
                                          <xsd:appinfo source="displayterm">
                                             <dtyp:displayterm value="CalculationsContractorResponsible">Contractor Provided</dtyp:displayterm>
                                          </xsd:appinfo>
                                          
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Volt04cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Voltage Drop to Feeder(s) (%)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Not in CC report result = BlankGrayedOut</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Volt04_VoltageDropToFeeders" type="comp:VoltageDropToFeeders" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Voltage Drop to Feeder(s) (%)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Volt05cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Voltage Drop After the Feeder(s) (%)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Not in CC report result = BlankGrayedOut</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Volt05_VoltageDropAfterFeeders" type="comp:VoltageDropAfterFeeders" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Voltage Drop After the Feeder(s) (%)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Volt06cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Total Voltage Drop  (%)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Not in CC report  result = BlankGrayedOut</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Volt06_VoltageDropTotal" type="comp:VoltageDropTotal" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Total Voltage Drop  (%)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">result = Volt04_VoltageDropToFeeders  + Volt05_VoltageDropAfterFeeders</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Volt07_ComplianceResultNRCI" type="comp:ComplianceResultNRCI"  minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Voltage Drop Compliance</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">If any user input field is blank
result = TableIncomplete  
Else 
result = MayNotComply</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="TableControls" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">[d:b]Circuit Controls and Controlled Receptacles[/d:b]</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This table is required and displayed If B01c_ProjectHasReceptacleControl == true</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="Controls01cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Room name or Description</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Controls01_SpaceDescription" type="com:SpaceDescription" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Room name or Description</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Controls02cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Location/ Type of Controlled Receptacles[d:sup]1[/d:sup]</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Controls02_ControlledReceptacleComplianceType" type="comp:ControlledReceptacleComplianceType"  maxOccurs="unbounded">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Location/ Type of Controlled Receptacles[d:sup]1[/d:sup]</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects all that apply in this space from dropdown list which includes ControlledReceptacleComplianceType</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Controls02_ControlledReceptacleNA" type="comp:ControlledReceptacleNA"  minOccurs="0" maxOccurs="unbounded">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Location/ Type of Controlled Receptacles[d:sup]1[/d:sup]</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects all that apply in this space from dropdown list ControlledReceptacleNA</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Controls03cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Shut-Off Controls</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Controls03_ControlledReceptacleShutOffControl" type="comp:ControlledReceptacleShutOffControl"  maxOccurs="unbounded">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Shut-Off Controls</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects all that apply in this space from ControlledReceptacleShutOffControl</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Controls03_ControlledReceptacleNA" type="comp:ControlledReceptacleNA"  minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Shut-Off Controls</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects all that apply in this space from ControlledReceptacleNA</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Controls04cc_NotApplicableMessage" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Permanent Durable Marking Is Used</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">No parent Certificate of Compliance data</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:NotApplicableMessage">
                                             <xsd:enumeration value="BlankGrayedOut"/>
                                             <xsd:enumeration value="NoDataGrayedOut"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="Controls04_AreControlledReceptaclesPermanentlyMarked" type="comp:AreControlledReceptaclesPermanentlyMarked" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Permanent Durable Marking Is Used</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects true or false for AreControlledReceptaclesPermanentlyMarked 
If result = true value displayed is Controlled and Uncontrolled Receptacles Identified with Permanent Marking, 
If result = false
user must select at least one value from ControlledReceptacleNA</xsd:documentation>
                                          <xsd:appinfo source="displayterm">
                                             <dtyp:displayterm value="true">Controlled and Uncontrolled Receptacles Identified with Permanent Marking</dtyp:displayterm>
                                          </xsd:appinfo>
                                          
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Controls04_ControlledReceptacleNA" type="comp:ControlledReceptacleNA"  minOccurs="0" maxOccurs="unbounded">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Permanent Durable Marking Will be Used</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects all that apply in this space from from  ControlledReceptacleNA</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Controls05_ComplianceResultNRCI" type="comp:ComplianceResultNRCI"  minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Compliance</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">If any user input field is blank
result = TableIncomplete 
result = MayNotComply
End If</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="ControlsEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i][d:sup]1[/d:sup] FOOTNOTES: Office areas, lobbies, conference rooms, kitchen areas in office spaces, and copy rooms must meet controlled receptacle requirements.[/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Electmf" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">[d:b]Electric Ready for Multifamily Occupancies[/d:b]</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="ElectmfCol1Label" minOccurs="0">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Requirement</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element name="ElectmfFurnace" minOccurs="0">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Gas/ Propane Furnaces Serving Individual Dwelling Units (Heat Pump Space Heater Ready)</xsd:documentation>
                              </xsd:annotation>
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="Electmf02" minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText"></xsd:documentation>
                                          <xsd:documentation source="AdditionalRequirements">A dedicated 240 volt branch circuit shall be installed within 3 feet from the furnace and accessible to the furnace with no obstructions. The branch circuit shall be rated at 30 amps minimum. The blank cover shall be identified as "240V ready". All electrical components shall be installed in accordance with the California Electrical Code.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Electmf03" minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText"></xsd:documentation>
                                          <xsd:documentation source="AdditionalRequirements">The main electrical service panel shall have a reserved space to allow for the installation of a double pole circuit breaker for a future heat pump space heater installation. The reserved space shall be permanently marked as "For Future 240V use".</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="ElectmfCookTop" minOccurs="0">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Gas/ Propane Cooktops Serving Individual Dwelling Units</xsd:documentation>
                              </xsd:annotation>
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="Electmf03" minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText"></xsd:documentation>
                                          <xsd:documentation source="AdditionalRequirements">A dedicated 240 volt branch circuit shall be installed within 3 feet from the cooktop and accessible to the cooktop with no obstructions. The branch circuit shall be rated at 50 amps minimum. The blank cover shall be identified as "240V ready". All electrical components shall be installed in accordance with the California Electrical Code.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Electmf04" minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText"></xsd:documentation>
                                          <xsd:documentation source="AdditionalRequirements">The main electrical service panel shall have a reserved space to allow for the installation of a double pole circuit breaker for a future electric cooktop installation. The reserved space shall be permanently marked as "For Future 240V use".</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="ElectmfDryer" minOccurs="0">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Gas/ Propane Clothes Dryers Serving Individual Dwelling Units</xsd:documentation>
                              </xsd:annotation>
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="Electmf05" minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText"></xsd:documentation>
                                          <xsd:documentation source="AdditionalRequirements">A dedicated 240 volt branch circuit shall be installed within 3 feet from the clothes dryer and accessible to the clothes dryer with no obstructions. The branch circuit shall be rated at 30 amps minimum. The blank cover shall be identified as "240V ready". All electrical components shall be installed in accordance with the California Electrical Code.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Electmf06" minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText"></xsd:documentation>
                                          <xsd:documentation source="AdditionalRequirements">The main electrical service panel shall have a reserved space to allow for the installation of a double pole circuit breaker for a future electric clothes dryer installation. The reserved space shall be permanently marked as "For Future 240V use".</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="ElectmfDryerShared" minOccurs="0">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Gas/ Propane Clothes Dryers In Common Areas</xsd:documentation>
                              </xsd:annotation>
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="Electmf07" minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText"></xsd:documentation>
                                          <xsd:documentation source="AdditionalRequirements">Conductors or raceway shall be installed with termination points at the main electrical panel, via subpanels panels if applicable, to a location no more than 3 feet from each gas outlet or a designated location of future electric replacement equipment. Both ends of the conductors or raceway shall be labelled "Future 240V Use."  The conductors or raceway and any intervening subpanels, panelboards, switchboards, and busbars shall be sized to meet the future electric power requirements, at the service voltage to the point at which the conductors serving the building connect to the utility distribution system, as specified below. The capacity requirements may be adjusted for demand factors in accordance with the California Electric Code. Gas flow rates shall be determined in accordance with the California Plumbing Code. Capacity shall be one of the following: [d:line1/][d:tab1/]- 24 amps at 208/240 volts per clothes dryer; [d:line1/][d:tab1/]- 2.6 kVA for each 10,000 Btu per hour of rated gas input or gas pipe capacity; or [d:line1/][d:tab1/]- The electrical power required to provide equivalent functionality of the gas-powered equipment as calculated by the responsible person</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="nRCIELC01Elite" type="NRCIELC01Elite">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the NRCIELC01Elite compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
