deployed/base/NrPresBuilding.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/bld" version="2022.0.000" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="NrPresCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="NrPresEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="NrPresHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="NrPresLighting.xsd"/>
   <xsd:simpleType name="BuildingAdditionalConditionedFloorArea">
      <xsd:annotation>
         <xsd:documentation>Conditioned floor area for an addition to the Building.  Units: ft2</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative"/>
   </xsd:simpleType>
   <xsd:simpleType name="BuildingAdditionalSlabArea">
      <xsd:annotation>
         <xsd:documentation>Floor area for a slab addition to the Building.  Units: ft2</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative"/>
   </xsd:simpleType>
   <xsd:simpleType name="ControlSystemType">
      <xsd:annotation>
         <xsd:documentation>This defines what type of control system is used in the building to control energy use.</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Building Control System Type</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="DDCToZoneLevel">Direct Digital Controls (DDC) To Zone Level</dtyp:displayterm>
            <dtyp:displayterm value="NoControlSystem">No Control System</dtyp:displayterm>
            <dtyp:displayterm value="OtherControlSystem">Other Control System</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="DDCToZoneLevel"/>
         <xsd:enumeration value="NoControlSystem"/>
         <xsd:enumeration value="OtherControlSystem"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ExistingConditionedFloorArea">
      <xsd:annotation>
         <xsd:documentation>Conditioned floor area for an addition to the Building.  Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Existing Conditioned Floor Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative"/>
   </xsd:simpleType>
   <xsd:simpleType name="HighRiseResidentialLivingUnitCount">
      <xsd:annotation>
         <xsd:documentation>The total number of high-rise residential or hotel/motel living units in the building  Units: none</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:IntegerNonnegative"/>
   </xsd:simpleType>
   <xsd:simpleType name="NewAdditionConditionedFloorArea">
      <xsd:annotation>
         <xsd:documentation>All conditioned floor area in an addition project.  It can be derived from all conditioned area in the Zones  Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Total Conditioned Floor Area New Construction/Addition</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative"/>
   </xsd:simpleType>
   <xsd:simpleType name="NonresidentialFloorArea">
      <xsd:annotation>
         <xsd:documentation>Units: ft2</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative"/>
   </xsd:simpleType>
   <xsd:simpleType name="SiteTotalGrossFloorArea">
      <xsd:annotation>
         <xsd:documentation>This is the sum of all BuildlingGrossTotalFloorArea on the Site and may consists of more than one building.  Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Site Total Gross Floor Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative"/>
   </xsd:simpleType>
   <xsd:simpleType name="SiteTotalParkingArea">
      <xsd:annotation>
         <xsd:documentation>This is the total square feet of parking areas on the site.  Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Site Total Parking Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative"/>
   </xsd:simpleType>
</xsd:schema>
