schema/base/NrPresLighting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
   targetNamespace="http://www.lmonte.com/besm/lit"
   xmlns:lit="http://www.lmonte.com/besm/lit"
   xmlns:com="http://www.lmonte.com/besm/com"
   xmlns:dtyp="http://www.lmonte.com/besm/dtyp"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   elementFormDefault="qualified" attributeFormDefault="unqualified" version="2022.0.000">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="NrPresCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="DataTypes.xsd"/>
   <xsd:simpleType name="AllLuminairePowerInArea">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Power of All  Luminaires Installed in Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="AlteredLightingConditionedFloorArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Altered Lighting Conditioned Floor Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="AlteredLightingUnconditionedFloorArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Altered Lighting Unconditioned Floor Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="AreaControlsLocation">
      <xsd:annotation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Area Controls Location</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:token">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BankingKioskCount">
      <xsd:annotation>
         <xsd:documentation>  Units: none</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Number of ATM's</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:IntegerNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BoardLightingLength">
      <xsd:annotation>
         <xsd:documentation>  Units: ft</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>White/ Chalk Board Lighting Length</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BranchCircuitName">
      <xsd:annotation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Branch Circuit Name</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:token">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BranchCircuitVoltage">
      <xsd:annotation>
         <xsd:documentation>  Units: volt</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Branch Circuit Voltage
</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CurrentLimiterVoltAmpere">
      <xsd:annotation>
         <xsd:documentation>  Units: volt ampere</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Current Limiter Volt Ampere
</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DisplayCaseArea">
      <xsd:annotation>
         <xsd:documentation>Area of very valuable display case used in determining tailored method lighting allowance  Units: ft2</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DoesProjectIncludeTrackLighting">
      <xsd:restriction base="xsd:boolean">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ExteriorLightingFractionControlled">
      <xsd:annotation>
         <xsd:documentation>The fraction of exterior lighting that is controlled by some method in addition ot an On/Off switch  Units: none</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ExteriorLightingPowerInstalledTotal">
      <xsd:annotation>
         <xsd:documentation>Power in watts of all permanently installed exterior lighting.  Units: W</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ExteriorLightingSystemName">
      <xsd:annotation>
         <xsd:documentation>Unique identification name for an ExteriorLightingSystem instance</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ExteriorLightingSystemPower">
      <xsd:annotation>
         <xsd:documentation>Installed lighting power for the exterior lighting system type.  Units: W</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ExteriorLightingSystemType">
      <xsd:annotation>
         <xsd:documentation>Exterior building lighting application categories</xsd:documentation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="24HourRetailParking">24 Hour Retail Parking</dtyp:displayterm>
            <dtyp:displayterm value="ATM">ATM</dtyp:displayterm>
            <dtyp:displayterm value="BuildingFacades">Building Facades</dtyp:displayterm>
            <dtyp:displayterm value="Canopies">Canopies</dtyp:displayterm>
            <dtyp:displayterm value="EmergencyVehicleLoadingAreas">Emergency Vehicle Loading Areas</dtyp:displayterm>
            <dtyp:displayterm value="FastFoodDriveThroughWindows">Fast Food Drive Through Windows</dtyp:displayterm>
            <dtyp:displayterm value="GuardedFacilityEntrances">Guarded Facility Entrances</dtyp:displayterm>
            <dtyp:displayterm value="MainEntries">Main Entries</dtyp:displayterm>
            <dtyp:displayterm value="NotMainEntryDoors">Doors Other than Main Entry</dtyp:displayterm>
            <dtyp:displayterm value="OutdoorSalesOpenAreas">Outdoor Sales Open Areas</dtyp:displayterm>
            <dtyp:displayterm value="PlazaAreas">Plaza Areas</dtyp:displayterm>
            <dtyp:displayterm value="SpecialFeatureAreas">Special Feature Areas</dtyp:displayterm>
            <dtyp:displayterm value="Stairways">Stairways</dtyp:displayterm>
            <dtyp:displayterm value="StreetFrontageVehicleSalesLots">Street Frontage Vehicle Sales Lots</dtyp:displayterm>
            <dtyp:displayterm value="Walkways10ftWideOrGreater">Walkways 10ft Wide Or Greater</dtyp:displayterm>
            <dtyp:displayterm value="WalkwaysUnder10ftWide">Walkways Under 10ft Wide</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="24HourRetailParking"/>
         <xsd:enumeration value="ATM"/>
         <xsd:enumeration value="BuildingFacades"/>
         <xsd:enumeration value="Canopies"/>
         <xsd:enumeration value="EmergencyVehicleLoadingAreas"/>
         <xsd:enumeration value="FastFoodDriveThroughWindows"/>
         <xsd:enumeration value="GuardedFacilityEntrances"/>
         <xsd:enumeration value="MainEntries"/>
         <xsd:enumeration value="NotMainEntryDoors"/>
         <xsd:enumeration value="OutdoorSalesOpenAreas"/>
         <xsd:enumeration value="PlazaAreas"/>
         <xsd:enumeration value="SpecialFeatureAreas"/>
         <xsd:enumeration value="Stairways"/>
         <xsd:enumeration value="StreetFrontageVehicleSalesLots"/>
         <xsd:enumeration value="Walkways10ftWideOrGreater"/>
         <xsd:enumeration value="WalkwaysUnder10ftWide"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FixedLtgPowerProposed">
      <xsd:annotation>
         <xsd:documentation>The sum of all proposed lighting power to fixtures that are permanent.  All power from permanent physically fixed fixtures is added to the calculation of proposed lighting power.  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Fixed Lighting Power Proposed</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="HighEfficiencyLED_System">
      <xsd:annotation>
         <xsd:documentation>A high efficacy LED luminaire, or LED light engine with integral heat sink that meets minimum efficacy requirements</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>High Efficiency LED System</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="true">Yes</dtyp:displayterm>
            <dtyp:displayterm value="false">No</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:boolean">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="IESNA_IllCat">
      <xsd:annotation>
         <xsd:documentation>COMNET does not include this kind of detail. One of seven categories developed by Illuminating Engineering Society of North America (IESNA) to establish recommended levels of light for various tasks in the lighting area.  Used in the Tailored method, categories range from A which is 3 foot candles or 30 lux for public spaces to G  which covers 300 to 1000 foot candles (3,000 - 10,000 lux) for areas where visual acuity is critical e.g. a medical surgery room</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>IESNA Illuminance Category</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="IlluminanceA">Illuminance A</dtyp:displayterm>
            <dtyp:displayterm value="IlluminanceB">Illuminance B</dtyp:displayterm>
            <dtyp:displayterm value="IlluminanceC">Illuminance C</dtyp:displayterm>
            <dtyp:displayterm value="IlluminanceD">Illuminance D</dtyp:displayterm>
            <dtyp:displayterm value="IlluminanceE">Illuminance E</dtyp:displayterm>
            <dtyp:displayterm value="IlluminanceF">Illuminance F</dtyp:displayterm>
            <dtyp:displayterm value="IlluminanceG">Illuminance G</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="IlluminanceA"/>
         <xsd:enumeration value="IlluminanceB"/>
         <xsd:enumeration value="IlluminanceC"/>
         <xsd:enumeration value="IlluminanceD"/>
         <xsd:enumeration value="IlluminanceE"/>
         <xsd:enumeration value="IlluminanceF"/>
         <xsd:enumeration value="IlluminanceG"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="IlluminationMethod">
      <xsd:annotation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="External">Externally</dtyp:displayterm>
            <dtyp:displayterm value="Internal">Internally</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="External"/>
         <xsd:enumeration value="Internal"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InteriorLightingSystemName">
      <xsd:annotation>
         <xsd:documentation>Unique identification name for an InteriorLightingSystem instance</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InteriorLightingSystemSpaceName">
      <xsd:restriction base="dtyp:ObjectNamePermissive">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InterlockedLightingSystems">
      <xsd:annotation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Does area have Interlocked Lighting Systems?</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="true">Yes</dtyp:displayterm>
            <dtyp:displayterm value="false">No</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:boolean">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="IsLightingControlSystemOrEMCS_Present">
      <xsd:annotation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="true">Yes</dtyp:displayterm>
            <dtyp:displayterm value="false">No</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:boolean">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="IsLuminairePortable">
      <xsd:annotation>
         <xsd:documentation>Is (true), or is not (false) a portable lighting fixture.</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Is luminaire portable?</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="true">Yes</dtyp:displayterm>
            <dtyp:displayterm value="false">No</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:boolean">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="IsLuminaireSmallApertureColorChanging">
      <xsd:annotation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Small Aperture and Color Change</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="true">Yes</dtyp:displayterm>
            <dtyp:displayterm value="false">No</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:boolean">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="IsLuminaireTrackLighting">
      <xsd:annotation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Is luminaire track lighting?</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="true">Yes</dtyp:displayterm>
            <dtyp:displayterm value="false">No</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:boolean">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LightedSignArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LightedSignDescription">
      <xsd:annotation>
         <xsd:documentation>Description of a Sign that is illuminated</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:token">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LightedSignLocation">
      <xsd:annotation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Sign Type</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="ElecMessageCenter">Elec. Message Center</dtyp:displayterm>
            <dtyp:displayterm value="Indoor">Indoor</dtyp:displayterm>
            <dtyp:displayterm value="Outdoor">Outdoor</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="ElecMessageCenter"/>
         <xsd:enumeration value="Indoor"/>
         <xsd:enumeration value="Outdoor"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LightedSignName">
      <xsd:annotation>
         <xsd:documentation>Unique identification name for a Sign that is illuminated</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:token">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LightingDistributionPattern">
      <xsd:annotation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="Asymmetrical">Type I - IV</dtyp:displayterm>
            <dtyp:displayterm value="Symmetrical">Type V, Type V Square</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="Asymmetrical"/>
         <xsd:enumeration value="Symmetrical"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LightingPAF">
      <xsd:annotation>
         <xsd:documentation>The fraction that may be subtracted from the total controlled lighting wattage to simulate energy savings resulting from control devices such as occupancy sensor controls that turn lights off when no one is in the space.  Units: none</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Power Adjustment Factor</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LightingPowerReductionPercent">
      <xsd:annotation>
         <xsd:documentation>  Units: none</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Percent Lighting Power Reduction for Space</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LuminaireCountByType">
      <xsd:annotation>
         <xsd:documentation>Number of luminaries of a specific type  Units: none</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:IntegerNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LuminaireDescription">
      <xsd:annotation>
         <xsd:documentation>Description of the luminaire</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LuminaireLocation">
      <xsd:restriction base="xsd:token">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LuminaireMountingHeight">
      <xsd:annotation>
         <xsd:documentation>Distance from the finished floor to the bottom of the luminaire  Units: ft</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LuminaireName">
      <xsd:annotation>
         <xsd:documentation>Unique identification name for a Luminaire instance.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:StringMin1Char">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LuminairePower">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LuminairePowerByType">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Installed Luminaire Power By Type</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LuminairePowerInArea">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Installed Luminaire Power in Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LuminairesTotalLF">
      <xsd:annotation>
         <xsd:documentation>  Units: ft</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Luminaires Total Linear Feet</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LuminaireUse">
      <xsd:annotation>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="SmallApertureColorChanging">Small Aperture and Color Change Nonres</dtyp:displayterm>
            <dtyp:displayterm value="SmallApertureColorChangingMF">Small Aperture and Color Change Multifamily</dtyp:displayterm>
            <dtyp:displayterm value="TrackLighting">Modular (Track)</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationConstant">
         <xsd:enumeration value="SmallApertureColorChanging"/>
         <xsd:enumeration value="SmallApertureColorChangingMF"/>
         <xsd:enumeration value="TrackLighting"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LuminaireWattsPerLF">
      <xsd:annotation>
         <xsd:documentation>  Units: W per ft</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Watts per LF</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MirrorsCount">
      <xsd:annotation>
         <xsd:documentation>  Units: none</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Number of lighted mirrors in fitting room</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:IntegerNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MountingHeightFactor">
      <xsd:annotation>
         <xsd:documentation>An adjustment to the Wall Display allowance and the Floor Display allowance in the Tailored Method, based on the mounting height of the fixtures.  Units: none</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>MountingHeightFactor</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="NewLightingConditionedFloorArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>New Lighting Conditioned Floor Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="NewLightingUnconditionedFloorArea">
      <xsd:annotation>
         <xsd:documentation>  Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>New Lighting Unconditioned Floor Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PortablePowerAllAreas">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Portable Lighting Power Installed in All Office Areas</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PortablePowerInArea">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Portable Lighting Power Installed in Office Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SiteLevelLuminaireCount">
      <xsd:annotation>
         <xsd:documentation>Number of luminaires or complete lighting units  for the whole site.  Units: none</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:IntegerNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SpaceIlluminationLevel">
      <xsd:annotation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Space Illumination Level</dtyp:displayterm>
         </xsd:appinfo>
         <xsd:appinfo source="displayterm">
            <dtyp:displayterm value="100">100 lux</dtyp:displayterm>
            <dtyp:displayterm value="1000">1000 lux</dtyp:displayterm>
            <dtyp:displayterm value="150">150 lux</dtyp:displayterm>
            <dtyp:displayterm value="200">200 lux</dtyp:displayterm>
            <dtyp:displayterm value="300">300 lux</dtyp:displayterm>
            <dtyp:displayterm value="400">400 lux</dtyp:displayterm>
            <dtyp:displayterm value="50">50 lux</dtyp:displayterm>
            <dtyp:displayterm value="500">500 lux</dtyp:displayterm>
            <dtyp:displayterm value="600">600 lux</dtyp:displayterm>
            <dtyp:displayterm value="700">700 lux</dtyp:displayterm>
            <dtyp:displayterm value="800">800 lux</dtyp:displayterm>
            <dtyp:displayterm value="900">900 lux</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:EnumerationIntegerNonNegative">
         <xsd:enumeration value="100"/>
         <xsd:enumeration value="1000"/>
         <xsd:enumeration value="150"/>
         <xsd:enumeration value="200"/>
         <xsd:enumeration value="300"/>
         <xsd:enumeration value="400"/>
         <xsd:enumeration value="50"/>
         <xsd:enumeration value="500"/>
         <xsd:enumeration value="600"/>
         <xsd:enumeration value="700"/>
         <xsd:enumeration value="800"/>
         <xsd:enumeration value="900"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TotalLuminairePower">
      <xsd:annotation>
         <xsd:documentation>Total connected lighting power for all luminaires in an interior lighting system. This includes the loads for lamps and ballasts.  Units: W</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TrackHeadsPerTrack">
      <xsd:annotation>
         <xsd:documentation>  Units: none</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Track Heads Per Track</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:IntegerNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TrackHeadsPowerCalculated">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Track Lighting Heads Watts Calculated</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TrackLengthPowerCalculated">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Track Lighting Length Watts Calculated</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TrackLightingBranchCircuitPower">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Branch Circuit VA Rating (as Watts)
</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TrackLightingCurrentLimiterPower">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>VA of Current Limiter (as Watts)
</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TrackLightingDescription">
      <xsd:annotation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Track Lighting Description</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:token">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TrackLightingLength">
      <xsd:annotation>
         <xsd:documentation>  Units: ft</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Track Lighting Lenght</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TrackLightingName">
      <xsd:annotation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Track Lighting ID</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:token">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TrackLightingPowerSourceRatedWattage">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Maximum rated input wattage per manufacturer</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TrackLightingTotalAmperes">
      <xsd:annotation>
         <xsd:documentation>  Units: ampere</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Total Amperes of Track and Busway</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TrackLightingWattsCalculated">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Track lighting watts calculated for luminaire</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TrackOvercurrentPanelsTotalPower">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Sum of VA ratings for all Overcurrent Panels</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="VeryValuableDisplayDescription">
      <xsd:restriction base="xsd:token">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="WallDisplayLength">
      <xsd:annotation>
         <xsd:documentation>Length of wall display used in determining tailored method lighting allowance  Units: ft</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Wall Display Length</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="WattsPerLinearFootDefault">
      <xsd:annotation>
         <xsd:documentation>  Units: W per ft</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Track Lighting Default Watts/LF</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="WattsPerTrackHead">
      <xsd:annotation>
         <xsd:documentation>  Units: W</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Watts per Track Head</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="WorkPlaneHeight">
      <xsd:annotation>
         <xsd:documentation>Distance from the finished floor to the work plane.  Used to calculate vertical distance from the work plane to the centerline of the lighting fixture  Units: ft</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative">
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>
